/* ---------------------------------

                general

------------------------------------ */

body {
  background-color: #fff;
  color: #282828;
  font-family: 'Raleway', sans-serif;
}

main {
  padding: 0 75px 0 350px;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.25em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  color: #999;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

i {
  font-style: italic;
}

/* ---------------------------------

               images

------------------------------------ */

img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

#bam-logo {
  cursor: pointer;
  width: 60px;
  position: fixed;
  top: 35px;
  right: 28px;
}

nav#site-navigation #bam-logo-alt {
  position: fixed;
  right: 28px;
  top: 35px;
  width: 60px;
}


#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  bottom: 85px;
  right: 40px;
}

#medium-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  bottom: 30px;
  right: 40px;
}

#bam-deploy {
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 10px;
  height: 300px;
  width: auto;
}

#case-study img {
  margin: 50px auto;
}

#root-proxy-path {
  width: 300px;
}

#flowchart {
  width: 600px;
}

/* ---------------------------------

               code

------------------------------------ */

@font-face {
  font-family: "Fira Code";
  src: url(https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/woff2/FiraCode-Regular.woff2) format("truetype");
}

.container {
  margin: 50px auto;
  text-align: center;
}

pre {
  display: inline-block;
  max-width: 100%;
  text-align: left;
}

code {
  color: #777;
  font-family: "Fira Code", monospace;
  font-size: 0.7em;
}

code.gruvbox-code {
  border: 15px solid #282828;
  border-radius: 10px;
  padding: 0.5em 1.5em 0 1.5em;
}

/* ---------------------------------

               nav

------------------------------------ */

nav#site-navigation {
  background-color: #9eba2a;
  color: #282828;
  display: none;
  height: 100vh;
  text-align: center;
  width: 100vw;
  z-index: 2;
}

nav#site-navigation ul {
  border-bottom: 4px solid #282828;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5em;
  margin-top: 22vh;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

nav#site-navigation ul li {
  margin: auto;
  text-align: left;
}

nav#site-navigation p {
  background-color: #9eba2a;
  color: #282828;
  font-size: 1.2em;
}

nav#site-navigation a {
  color: #282828;
  text-decoration: none;
}

nav#site-navigation a:hover {
  color: #fff;
}

nav#site-navigation p a:not(#close) {
  font-weight: bold;
  border-bottom: 2px solid #282828;
  padding-bottom: 4px;
}

nav#site-navigation p a:not(#close):hover {
  border-bottom: 2px solid #fff;
}

#close-nav {
  cursor: pointer;
  font-size: 4em;
  font-weight: 200;
  left: 45px;
  position: absolute;
  top: 30px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); [> IE 9 <]
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
}

/* ---------------------------------

                intro

------------------------------------ */

header {
  background-color: #282828;
  color: white;
  height: 100vh;
}

header h1 {
 font-style: italic;
 line-height: 70px;
 padding: 30px 40px;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  left: 50%;
  letter-spacing: 0.08em;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  width: 850px;
}

header span {
  color: #c3e634;
}

/* ---------------------------------

            case study

------------------------------------ */

#case-study nav {
  display: none;
  left: 1em;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

#case-study nav li {
  color: #999;
  font-size: 2em;
  list-style: circle;
  margin-bottom: 5vh;
}

#case-study nav li:last-of-type {
  margin-bottom: 0;
}

#case-study nav a {
  color: #999;
  font-size: 0.4em;
  margin-left: 1em;
  text-decoration: none;
  vertical-align: 0.4em;
}

#case-study nav a:hover {
  color: #9eba2a;
}

section#case-study {
  margin: 80px 0 100px 0;
  width: 75%;
}

#case-study h1 {
  border-bottom: 8px solid #9eba2a;
  display: inline-block;
}

#case-study h3,
#case-study h4,
#case-study h5,
#case-study p,
#case-study pre,
#case-study ul,
#case-study ol {
  margin-bottom: 20px;
}

#case-study h2 {
  margin: 75px auto 20px auto;
}

#case-study h2, h3 {
  letter-spacing: 0.02em;
}

#case-study h2 {
  color: #9eba2a;
}

#case-study h3,
#case-study h4,
#case-study h5 {
  color: #6a8015;
}

#case-study p {
  font-size: 1.2em;
  line-height: 1.5em;
}

#case-study blockquote p {
  font-size: 1.3em;
}

#case-study blockquote p:first-of-type {
  font-style: italic;
}

#case-study li {
  font-size: 1.4em;
  list-style: disc;
  margin-left: 2em;
}

/* ---------------------------------

              commands

------------------------------------ */

.command {
  background-color: #eee;
  border-radius: 2px;
  color: #282828;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0.2em;
}

#commands p {
  font-size: 1.3em;
  margin-left: 1em;
}

#list-command {
  background-color: #282828;
  border: 10px solid #282828;
  border-radius: 10px;
  display: inline-block;
  padding: 0.5em 1.5em 0 1.5em;
}

#list-command code {
  color: #ebdbb2;
}

#list-command .heading {
  color: #98971a;
}

#list-command .bam-resource {
  color: #b8bb26;
}

/* ---------------------------------

              footnotes

------------------------------------ */

#footnotes ol li {
  list-style: decimal;
}

#footnotes a {
  color: #9eba2a;
  text-decoration: none;
}

#footnotes a:hover {
  color: #c3e634;
}

/* ---------------------------------

             footer

------------------------------------ */

footer {
  background-color: #282828;
  height: 400px;
}

/* ---------------------------------

              our team

------------------------------------ */

/* #our-team { */
  /* background: #282828; */
  /* color: #fff; */
/* } */

/* section#our-team { */
  /* [> margin: 80px 0 100px 0; <] */
  /* height: 2000px; */
  /* width: 100%; */
/* } */

/* #our-team h1 { */
  /* border-bottom: 8px solid #9eba2a; */
  /* display: inline-block; */
/* } */
